<div class="menu">
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>Home</button>
    <button mat-menu-item [matMenuTriggerFor]="blogPageMenu">Actions</button>
    <button mat-menu-item [matMenuTriggerFor]="subMenu">Public</button>
    <button mat-menu-item>About</button>
  </mat-menu>
  
  <button mat-flat-button [matMenuTriggerFor]="appMenu"><mat-icon aria-hidden="false">home</mat-icon></button>
  
  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>Stories</button>
    <button mat-menu-item>Events</button>
  </mat-menu>

  <mat-menu #blogPageMenu>
    <button mat-menu-item>Add Article</button>
  </mat-menu>
  
</div>

<div class="web-content">
  <router-outlet></router-outlet>
</div>